{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Acerca de{% endblock %} {% block
page_title %}CMH - Acerca de{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Mejorando las condiciones de vida de las mujeres salvadoreñas.
                </h2>
                <p class="logo-cmsvgob-acercade">
                    <img src="../static/images/manifest/logocmsv.png" alt="Logo Ciudad Mujer El Salvador" />
                    <!-- <img src="../static/images/manifest/logo_gobiernosv.png" alt="Logo Gobierno El Salvador" /> -->
                </p>
            </header>
            <section class="s-article__text">
                <p>
                    <i>
                        El programa Ciudad Mujer, referencia regional, tiene el objetivo de contribuir al mejoramiento
                        de las condiciones de vida de las mujeres en áreas estratégicas para su empoderamiento, como
                        son la autonomía económica, la atención a la violencia contra las mujeres, la salud sexual y
                        reproductiva, la educación colectiva y otras afines. Fue creado por el Gobierno de El Salvador
                        en marzo de 2011. Ciudad Mujer reúne bajo un mismo techo servicios especializados y
                        estratégicos. Estos servicios son provistos a través de centros de atención integral.
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <h3>
                    Con el apoyo de:
                </h3>
                <p class="logos-colaborador-acercade">
                    <a href="https://www.iadb.org/" target="_blank">
                        <img class="logo-colaborador-acercade" src="../static/images/manifest/bid_slogan.png"
                            alt="Logo BID" />
                    </a>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}