{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Acerca de{% endblock %} {% block
page_title %}CMH - Acerca de{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Transformando la vida de la Mujer Hondureña.
                </h2>
                <p class="logo-cmhgob-acercade">
                    <img src="../static/images/manifest/logocmh_gob.svg" alt="Logo Gobierno Honduras" />
                    <img src="../static/images/manifest/logocmh_con_texto.svg" alt="Logo Ciudad Mujer Honduras" />
                </p>
            </header>
            <section class="s-article__text">
                <p>
                    <i>
                        Es una plataforma de servicios articulados para el impulso de la autonomía y el empoderamiento de las mujeres Hondureñas,
                        donde a través de sus centros de atención, 16 instituciones públicas coordinan, colaboran y cooperan
                        entre sí, brindando servicios con calidez y calidad en un ambiente de confianza y esperanza como
                        parte de un nuevo modelo de políticas y de la gestión pública.
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <h3>
                    Con el apoyo de:
                </h3>
                <p class="logos-colaborador-acercade">
                    <a href="https://portalunico.iaip.gob.hn/portal/index.php?portal=439" target="_blank">
                        <img src="../static/images/manifest/portal_unico_transparencia.png" alt="Logo Portal Transparencia" />
                    </a>
                    <a href="https://www.iadb.org/" target="_blank">
                        <img class="logo-colaborador-acercade" src="../static/images/manifest/bid_slogan.png" alt="Logo BID" />
                    </a>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}