{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Acerca de{% endblock %} {% block
page_title %}CMH - Acerca de{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Mejorando las condiciones de vida de las mujeres salvadoreñas.
                </h2>
                <p class="logo-cmsvgob-acercade">
                    <img src="../static/images/manifest/logocmsv.png" alt="Logo Ciudad Mujer El Salvador" />
                    <img src="../static/images/manifest/logosissv.jpg"
                        alt="Logo Secretaria de Inclusion Social El Salvador" />
                </p>
            </header>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer concentra, dentro de una misma infraestructura, a 18 instituciones del Estado,
                        quienes trabajan de forma articulada y operan con funcionarias mujeres que han sido formadas en
                        género y en el enfoque de derechos humanos. Actualmente funcionan seis centros de Ciudad Mujer
                        distribuidos en las tres zonas más importantes del país, cuya infraestructura es plenamente
                        accesible a mujeres con discapacidad y adultas mayores.
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <h3>
                    Con el apoyo de:
                </h3>
                <p class="logos-colaborador-acercade">
                    <a href="https://www.iadb.org/" target="_blank">
                        <img class="logo-colaborador-acercade" src="../static/images/manifest/bid_slogan.png"
                            alt="Logo BID" />
                    </a>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}