{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer El Salvador, Tour VR{% endblock %}
{% block page_title %}Ciudad Mujer El Salvador{% endblock %}
{% block head_section %}
<script src="{{ url_for('static', filename='js/pannellum.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pannellum.css') }}">
{% endblock %}
{% block body %}
<section class="s-maincontainer s-maincontainer__landing">
    <main class="s-content">
        <div class="s-vrcontainer">
            <div class="s-vrcontainer__panellum"></div>
        </div>
        <audio id="cmsv-vr-audio" preload="metadata">
            <source src="{{ url_for('static', filename='media/audio/tourvr/es/intro.mp3') }}" type="audio/mpeg">
            Tu navegador no soporta este elemento.
        </audio>
    </main>
</section>
<script>
    // Panorama DOM Container
    const container = document.querySelector('.s-vrcontainer__panellum');

    // Cube Panorama
    const panorama = [
        'static/images/cubes/2048/01Entrance_1.jpg',
        'static/images/cubes/2048/01Entrance_2.jpg',
        'static/images/cubes/2048/01Entrance_3.jpg',
        'static/images/cubes/2048/01Entrance_4.jpg',
        'static/images/cubes/2048/01Entrance_5.jpg',
        'static/images/cubes/2048/01Entrance_6.jpg'
    ];

    // Pannellum init
    pannellum.viewer(container, {
        'autoLoad': true,
        'autoRotate': -2,
        'autoRotateInactivityDelay': 10000,
        'cubeMap': panorama,
        'keyboardZoom': false,
        'mouseZoom': 'fullscreenonly',
        'type': 'cubemap'
    });
</script>
{% endblock %}
